@-moz-document url(about:newtab) {
    html *{
        background:#262626!important;
        box-shadow:none!important;
    }
    body * {
        display: none
    }
    #snippets-container{
        border:0px!important;
    }
}

:root {
    scrollbar-color: #333 #262626;
    scrollbar-width: thin;
}

@-moz-document url(chrome://browser/content/browser.xhtml) {
browser[type="content-primary"] {
	background: #262626 !important
	}
}
