:root {
  --tab-height: 22px;
  --font-size: 12px;
  --urlbar-height: var(--tab-height) !important;
  --urlbar-container-height: var(--tab-height) !important;
  --tab-hover-background-color: unset !important;

  /* wm active border color */
  /*--lwt-tab-line-color: #b4befe !important;*/
}

/* Global text size */
* {
  font-size: var(--font-size);
}

/* ------------------- Tabs ------------------- */

.tab-background {
  &:not([selected], [multiselected]) {
    outline-color: var(--toolbarbutton-active-background) !important;
  }
}

/* Fix moving tab glitch */
#tabbrowser-tabs {
  &[orient="horizontal"] {
    &[movingtab] {
      padding-bottom: 0px !important;
      margin-bottom: 0px !important;
    }
  }
}

/* Tab spacing between pinned and regular tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])[orient="horizontal"] >
#tabbrowser-arrowscrollbox >
.tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
  margin-inline-start: unset !important;
}

/* Force height */
#tabbrowser-tabs,
.tab-background,
.tab-content,
#tab-label {
  min-height: unset !important;
  height: var(--tab-height) !important;
  margin: unset !important;
}

/* Hide shit */
.tab-close-button,
#new-tab-button,
.tab-secondary-label,
#tabs-newtab-button,
.titlebar-buttonbox,
.tabbrowser-tab:not([pinned]) .tab-icon-stack {
  display: none !important;
}

/* Font & center label*/
.tab-label {
  font-size: calc(var(--font-size) - 2px);
  margin: auto !important;
}

/* Tab text glitch */
@media not (forced-colors) {
  #tabbrowser-tabs[orient="horizontal"] {
    & .tabbrowser-tab[visuallyselected]:not([labelendaligned]):hover,
    &:not([closebuttons="activetab"]) .tabbrowser-tab:not([visuallyselected],
    [labelendaligned]):hover {
      --tab-label-mask-size: 1em !important;
    }
  }
}

/* Space between tabs */
.tabbrowser-tab {
  padding: 0px !important;
}

/* Remove the rounding */
.tab-background {
  box-shadow: unset !important;
  border-radius: unset !important;
}

/* Background tabbar */
.browser-toolbox-background {
  background: var(--toolbar-bgcolor) !important;
}

/* ------------------- Navbar ------------------- */

/* Force height */
#nav-bar,
#urlbar-container {
  min-height: unset !important;
}

/* Set background */
#urlbar-background {
  background-color: var(--toolbar-bgcolor) !important;
}

/* Border top */
#nav-bar {
  border-top-color: var(--toolbarbutton-active-background) !important;
  margin-top: -1px !important;
}

/* Remove url bar focus border */
#urlbar > #urlbar-background,
#searchbar:focus-within {
  outline: unset !important;
  box-shadow: unset !important;
}
