:root {
  --tab-height: 24px;
  --font-size: 12px;
  --urlbar-height: var(--tab-height) !important;
  --urlbar-container-height: var(--tab-height) !important;
}

* {
  font-size: var(--font-size);
}

/* ------------------- Tabs ------------------- */

/* Change selected outline color on inactive window */
.tab-background:-moz-window-inactive {
  &:is([selected], [multiselected]) {
    outline-color: var(--toolbarbutton-active-background) !important;
  }
}

/* Fix moving tab glitch */
#tabbrowser-tabs {
  &[orient="horizontal"] {
    &[movingtab] {
      padding-bottom: 0px !important;
      margin-bottom: 0px !important;
    }
  }
}

/* Tab spacing between pinned and regular tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])[orient="horizontal"] >
#tabbrowser-arrowscrollbox >
.tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
  margin-inline-start: unset !important;
}

/* Force height */
#tabbrowser-tabs,
.tab-background,
.tab-content,
#tab-label {
  min-height: unset !important;
  height: var(--tab-height) !important;
  margin: unset !important;
}

/* Hide shit */
.tab-close-button,
#new-tab-button,
.tab-secondary-label,
#tabs-newtab-button,
.tabbrowser-tab:not([pinned]) .tab-icon-stack {
  display: none !important;
}

/* Font & center label*/
.tab-label {
  font-size: calc(var(--font-size) - 2px);
  margin: auto !important;
}

/* Tab text glitch */
@media not (forced-colors) {
  #tabbrowser-tabs[orient="horizontal"] {
    & .tabbrowser-tab[visuallyselected]:not([labelendaligned]):hover,
    &:not([closebuttons="activetab"]) .tabbrowser-tab:not([visuallyselected],
    [labelendaligned]):hover {
      --tab-label-mask-size: 1em !important;
    }
  }
}

/* Space between tabs */
.tabbrowser-tab {
  padding: 0px !important;
}

/* Remove the shitty outline on selected tabs */
.tab-background {
  box-shadow: unset !important;
  border-radius: unset !important;
  /*margin: -1px !important;*/
}

/* ------------------- Navbar ------------------- */

#nav-bar,
#urlbar-container {
  min-height: unset !important;
}

#urlbar-background { background-color: var(--toolbar-bgcolor) !important;}
