@import "mocha.css";

@define-color baseT rgba(30, 30, 46, 0.95);

* {
  border-radius: 0;
  padding: 0;
  min-height: 18px; /* Non unicode characters fuck up the height so 26 is the min height */
}

#waybar {
  color: @text;
  background: @crust;
  font-family: "Noto Sans Mono", "Noto Sans CJK";
  font-size: 12px;
}

#waybar > box {
  background: @baseT;
  border-top: 1px solid @overlay0;
}

#custom-sep {
  color: @lavender;
}

#window {
  color: @rosewater;
}

#windowcount {
  color: @flamingo;
}

#clock {
  color: @peach;
}

#network {
  color: @blue;
}

#network.disconnect {
  color: @red;
}

#network.linked {
  color: @peach;
}

#workspaces button {
  color: @text;
  border-top: 4px solid @base;
  border-bottom: 4px solid @base;
}

#workspaces button.visible {
  color: @mantle;
  background: @lavender;
}

#workspaces button.urgent {
  color: @mantle;
  background: @red;
}

#mpd {
  color: @maroon;
}

#cpu, #temperature {
  color: @sapphire;
}

#temperature.critical {
  color: @red;
}

#custom-gpu, #custom-gputemperature {
  color: @green;
}

#memory {
  color: @yellow;
}
