@import "mocha.css";

* {
  border-radius: 0;
  padding: 0 2px;
  min-height: 0;
}

#waybar {
  color: @text;
  font-family: "Noto Sans Mono", "SymbolsNerdFont";
  font-size: 15px;
  font-weight: bold;
}

#waybar > box {
  background: rgba(30, 30, 46, 0.95); /* @base; */
  border-top: 1px solid @overlay0;
  margin-top: 2px;
  box-shadow: 0 0 2px black;
}

#custom-arch {
  color: @blue;
  font-weight: bold;
}

#workspaces button {
  color: @text;
  font-weight: bold;
}

#workspaces button.visible {
  color: @mantle;
  background: @lavender;
}

#workspaces button.urgent {
  background: @surface0;
  color: @red;
}

#window {
  color: @green
}

#idle_inhibitor {
  color: @rosewater;
}

#cpu, #temperature {
  color: @sapphire;
}

#temperature.critical {
  color: @red;
}

#custom-gpu {
  color: @maroon;
}

#memory {
  color: @yellow;
}

#clock {
  color: @peach;
}

#network {
  color: @yellow;
}

#bluetooth {
  color: @blue;
}

#mpd {
  color: @maroon;
}

#scratchpad {
  color: @teal;
}

#mode {
  color: @pink;
}
