@import "mocha.css";

* {
  border-radius: 0;
  padding: 0;
  min-height: 22px; /* Non unicode characters fuck up the height */
}

#waybar {
  color: @text;
  background: @crust;
  font-family: "Noto Sans Mono", "Noto Sans CJK";
  font-size: 12px;
}

/* #waybar > box { */
/*   background: @mantle; */
/*   border-top: 1px solid @overlay0; */
/* } */

#custom-arch {
  /* font-weight: bold; */
  color: @blue;
}

#custom-sep, #custom-sep-alt {
  color: @lavender;
}

/* #custom-arch, */
/* #custom-box-l, #custom-box-r, */
/* #custom-space-alt, */
/* #custom-sep, #custom-sep-alt, */
/* #windowcount, */
/* #clock, */
/* #network, */
/* #cpu, #temperature, #custom-cpu-icon, */
/* #custom-gpu, #custom-gpu-temperature, #custom-gpu-icon, */
/* #memory { */
/*   border-top: 1px solid @overlay0; */
/*   background: @base; */
/* } */

/* #custom-box-l { */
/*   border-radius: 4px 0 0 0; */
/*   border-left: 1px solid @overlay0; */
/* } */
/**/
/* #custom-box-r { */
/*   border-radius: 0 4px 0 0; */
/*   border-right: 1px solid @overlay0; */
/* } */

#window {
  color: @rosewater;
}

#windowcount {
  color: @flamingo;
}

#submap {
  color: @teal;
}

#clock {
  color: @mauve;
}

#clock.time {
  color: @pink;
}

#network {
  color: @sapphire;
}

#network.interface {
  color: @yellow;
}

#workspaces button {
  color: @overlay0;
}

#workspaces button.visible {
  color: @lavender;
}

#workspaces button.urgent {
  color: @red;
}

#mpd {
  color: @maroon;
}

#cpu, #temperature, #custom-cpu-icon {
  color: @sky;
}

#temperature.critical {
  color: @red;
}

#custom-gpu, #custom-gpu-temperature, #custom-gpu-icon {
  color: @green;
}

#memory {
  color: @peach;
}
