:root {
  --tab-height: 16px;
  --font-size: 12px;

  --tab-min-height: var(--tab-height) !important;
  --toolbar-field-background-color: transparent !important;
  /* --toolbar-bgcolor: transparent !important; */
  --toolbar-field-border-color: transparent !important;
  --font-family: "Noto Sans" !important;
  --focus-outline-color: unset !important;
  --toolbox-bgcolor: transparent !important;
  --toolbox-bgcolor-inactive: transparent !important;
}

* {
  font-family: var(--font-family);
}

/* ------------------- Tabs ------------------- */

/* Fix tab offset */
#TabsToolbar {
  margin: 0 2px -2px;
}

/* Force height */
#TabsToolbar-customization-target {
  max-height: calc(var(--tab-height) + 8px);
  height: calc(var(--tab-height) + 8px);
}

.tab-background {
  border-radius: 4px !important;
}

.tab-label-container {
  #tabbrowser-tabs:not([secondarytext-unsupported], [orient=vertical]) & {
    height: var(--tab-height) !important;
  }
}

/* Font & center label*/
.tab-label {
  font-size: var(--font-size);
  margin: auto !important;
}

/* Hide shit */
.tabbrowser-tab:not([pinned]) .tab-icon-stack,
.tab-loading-burst,
.tab-close-button,
#new-tab-button,
.tab-secondary-label,
.tab-audio-button,
#tabs-newtab-button {
  display: none !important;
}

/* Tab text glitch */
@media not (forced-colors) {
  #tabbrowser-tabs[orient="horizontal"] {

    & .tabbrowser-tab[visuallyselected]:not([labelendaligned]):hover,
    &:not([closebuttons="activetab"]) .tabbrowser-tab:not([visuallyselected],
      [labelendaligned]):hover {
      --tab-label-mask-size: 1em !important;
    }
  }
}

/* ------------------- Navbar ------------------- */

/* Force height */
#nav-bar {
  height: calc(var(--tab-height) + 4px);
  font-size: var(--font-size);
  border-top: unset !important;
}

#urlbar:not([breakout][breakout-extend]) {
  min-height: unset !important;
  height: calc(var(--tab-height) + 4px) !important;
}

/* Hide shit */
.urlbar-go-button,
.urlbar-revert-button,
#star-button-box,
#stop-reload-button,
#forward-button,
#back-button,
#tracking-protection-icon-container {
  display: None !important;
}


/* Make backgrounds transparent */
.close-icon,
#star-button-box,
.urlbar-icon,
.urlbar-icon-wrapper,
toolbar .toolbarbutton-1,
#tabbrowser-tabs toolbarbutton,
toolbar toolbarbutton > .toolbarbutton-icon,
toolbar toolbarbutton > .toolbarbutton-badge-stack,
.titlebar-button,
#identity-box,
.identity-box-button,
#tracking-protection-icon-container,
.findbar-textbox~toolbarbutton,
toolbarbutton.scrollbutton-up,
toolbarbutton.scrollbutton-down,
toolbarbutton#scrollbutton-up,
toolbarbutton#scrollbutton-down{
  background-color: transparent !important;
  border-color: transparent !important;
}
